Node Red Code
[{"id":"eb53860b.0dadf8","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"2c4fe951.bfa436","type":"ui_form","z":"eb53860b.0dadf8","name":"","label":"","group":"cd30be1d.16316","order":1,"width":0,"height":0,"options":[{"label":"enter your text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":155,"y":179,"wires":[["121e9527.7581db"]]},{"id":"364e395a.eef496","type":"ui_text","z":"eb53860b.0dadf8","group":"cd30be1d.16316","order":2,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":195,"y":499,"wires":[]},{"id":"121e9527.7581db","type":"function","z":"eb53860b.0dadf8","name":"INPUT","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":359,"wires":[["364e395a.eef496","98f038e1.ff3078"]]},{"id":"fa22c9bc.eacd08","type":"function","z":"eb53860b.0dadf8","name":"OUTPUT","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":379,"wires":[["d0ec8a23.010428","3df60044.99256"]]},{"id":"98f038e1.ff3078","type":"watson-conversation-v1","z":"eb53860b.0dadf8","name":"Smart-bot","workspaceid":"370777b1-47e2-450a-9d7e-5888f940835f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":465,"y":279,"wires":[["fa22c9bc.eacd08"]]},{"id":"d0ec8a23.010428","type":"debug","z":"eb53860b.0dadf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":100,"wires":[]},{"id":"3df60044.99256","type":"ui_text","z":"eb53860b.0dadf8","group":"cd30be1d.16316","order":3,"width":"14","height":"5","name":"","label":"bot ","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":480,"wires":[]},{"id":"f1104059.ffd7c","type":"inject","z":"eb53860b.0dadf8","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["98f038e1.ff3078"]]},{"id":"cd30be1d.16316","type":"ui_group","z":"","name":"smart bot","tab":"992c4130.3c673","order":2,"disp":true,"width":14,"collapse":false},{"id":"992c4130.3c673","type":"ui_tab","z":"","name":"smart bot","icon":"dashboard","disabled":false,"hidden":false}]
